body {
  background-color: black;
}
.container {
  /* display: flex; */
  justify-content: center;
  align-content: center;
  /* height: 95vh; */
  height: 100%;
  /* margin-top: 30vh;
  margin-bottom: 5vh; */
  flex-wrap: wrap;
  text-align: center;
}
.content {
  margin: 30vh auto 0 auto;
  width: 85vw;
}
/* .mySites{} */
/* .myForm{} */
/* .myAdded {} */
img {
  width: 65px;
  border-radius: 20px;
  margin: 15px 5px;
}
img:hover {
  margin-bottom: 10px;
  transition: 0.4s ease margin-bottom;
  filter: drop-shadow(0 5px 3px lightblue);
}
.newLink {
  margin: 0;
  width: 25px;
  background-color: white;
  /* border-radius: 20px; */
}
.newLink:hover {
  margin: 0;
  /* margin-left: 10px; */
  /* transition: 0.4s ease margin-left; */
  filter: drop-shadow(0 5px 3px lightblue);
}
#aLink {
  padding: 5px;
  display: inline-block;
  color: white;
  background-color: darkblue;
  border-radius: 20px;
  margin: 10px;
}
a {
  border-radius: 20px;
  text-decoration: none;
}
a:hover,
#aLink:hover {
  background-color: blue;
}
input,
button,
form {
  /* text-align: center; */
  margin: 10px 0;
  /* border-radius: 20px; */
}
@media (max-width: 1000px) {
  .content {
    margin: 0;
  }
}
