body {
  background-color: black;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* height: 100%; */
  width: 65vw;
  margin: 30vh auto 0 auto;
  /* padding: 30vh auto 0 auto; */
  /* flex-wrap: wrap; */
  text-align: center;
}
.sitesContainer {
  /* width: 70vw; */
  text-align: center;
  justify-content: center;
  /* height: 30vh; */
}
img {
  width: 60px;
  border-radius: 20px;
  margin: 0 3px 15px 3px;
}
img:hover {
  margin-bottom: 10px;
  transition: 0.4s ease margin-bottom;
  filter: drop-shadow(0 5px 3px lightblue);
}
a {
  color: white;
  border-radius: 20px;
  text-decoration: none;
}
#aLink {
  padding: 5px 10px;
  display: inline-block;
  color: white;
  background-color: darkblue;
  margin: 5px;
}
#theDiv {
  display: inline-block;
}
button {
  margin-right: 10px;
}
button.clearBtn {
  margin: 0;
}
#aLink:hover,
button:hover {
  filter: drop-shadow(0 5px 3px lightblue);
  /* background-color: blue; */
}
a:hover {
  background-color: darkblue;
}
#aLink:active,
a:active {
  background-color: blue;
}
.newLink {
  margin: 0;
  width: 25px;
  background-color: white;
}
.newLink:hover {
  margin: 0;
}
hr {
  margin: 10px auto;
  width: 25vw;
  justify-content: center;
}
input,
form {
  margin: 10px 0 10px 0;
}
@media (max-width: 1000px) {
  .container {
    /* flex-direction: row; */
    margin-top: 0;
  }
  /* .sitesContainer {*/
  /* height: 30vh; */
  /* flex-direction: column; */
  /* } */
}
