body {
  /* background-color: black; */
  /* background: url(https://lh4.googleusercontent.com/proxy/n0iQKlAJqoZJvPdXNxJTOMokgx33LN6KA8mo7sIWZDvezz2hBHkEQHX8DV4a2ucOojuoE0mTT8LmSNmMdIUMMPL273HBaiWYUt3kAA=w3840-h2160-p-k-no-nd-mv); */
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: small;
}
/* .content {
  filter: none;
} */
.mySites {
  padding: 5px 0;
  /* background: lightblue; */
  backdrop-filter: blur(30px);
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px inset rgb(0 0 0 /30%);
  border: white 2px solid;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* height: 100%; */
  width: 70vw;
  margin: 20vh auto 0 auto;
  text-align: center;
}
.sitesContainer {
  /* width: 70vw; */
  text-align: center;
  justify-content: center;
  /* height: 30vh; */
}
img {
  width: 60px;
  border-radius: 20px;
  margin: 10px 5px;
  /* filter: none; */
  /* border: black 1px solid; */
}
img:hover {
  margin-bottom: 5px;
  transition: 0.3s ease margin-bottom;
  filter: drop-shadow(0 3px 3px lightblue);
}
a {
  color: white;
  border-radius: 20px;
  text-decoration: none;
}
#aLink {
  padding: 5px 10px;
  display: inline-block;
  color: white;
  background-color: darkblue;
  margin: 5px;
  box-shadow: 0 2px 2px black;
}
#theDiv {
  display: inline-block;
}
/* button {
  margin: 0;
} */
button.clearBtn {
  display: none;
}
.myTopSites {
  display: none;
}
.btnToggle {
  display: block;
}
button {
  color: #fff;
  /* background-color: #0d6efd; */
  background-color: darkblue;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  /* color: #212529; */
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /* background-color: transparent; */
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  /* font-size: 1rem; */
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* button:hover */
#aLink:hover,
button:hover {
  filter: drop-shadow(0 3px 3px lightblue);
  background-color: blue;
}
a:hover {
  background-color: blue;
  box-shadow: 0 2px 2px black;
}
#aLink:active,
button:active,
a:active {
  background-color: darkblue;
}
.newLink {
  margin: 0;
  width: 25px;
  background-color: white;
}
.newLink:hover {
  margin: 0;
}
hr {
  margin: 10px auto;
  width: 25vw;
  justify-content: center;
}
/* input,*/
form {
  margin: 10px 0;
}
@media (max-width: 1000px) {
  .container {
    /* flex-direction: row; */
    margin-top: 0;
  }
}
