body {
  margin: 0;
  background-color: #25283d;
  font-family: 'Helvetica-light';

  background-image: url('img/sky-828648_1920.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  box-sizing: border-box;
  max-width: 725px;
  margin: 0 auto;
}
.header h1 {
  color: #0b6e4f;
  margin: auto;
}
.header img {
  border-radius: 20px;
  width: 60px;
  border: solid 1px black;
}
.header {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #1f6487;
  /* padding: 5px 0; */
  margin-bottom: 15px;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
}
.header a {
  margin: auto 0;
  float: left;
  color: #1ccad8;
  text-align: center;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 30px;
  font-weight: bold;
}
/* .header a:hover {
  color: #50723c;
} */
.header a.active {
  /* background-color: #50723c; */
  color: white;
}
.header-right {
  float: right;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.item {
  background: #1f6487;
  display: flex;
  margin: 10px 0;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
}
.item .item--img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 100%;
}
.item .item--img a {
  height: 100%;
  width: 250px;
  text-align: center;
}
.item .item--img img {
  /* max-height: 100%; */
  max-width: 90%;
  border-radius: 20px;
}
.item .item--title {
  padding-left: 10px;
  flex: 1;
}
.item .item--title h3,
.item .item--title h4 {
  margin: 0;
  color: #1ccad8;
  padding-bottom: 5px;
}
.item .item--title a {
  text-decoration: none;
  color: #0b6e4f;
  transition: 0.1s linear color;
}
.item .item--title h3:hover,
.item .item--title a:hover {
  color: #fff;
}
.item .item--description {
  margin-top: 5px;
  color: white;
}
.item .item--descriptionDemo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

@media (max-width: 480px) {
  .item .item--img a {
    width: 100px;
  }
  .item .item--descriptionDemo {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
}
