body {
  margin: auto;
  /* background-image: url("https://webdesignerdepot.s3.amazonaws.com/default-images/25.jpg"); */
  font-family: "Lato", sans-serif;
  background-color: black;
}

.main {
  text-align: center;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 25px auto;
  background: rgb(197, 222, 234); /* Old browsers */
  width: 80%;
  height: 100%;
  border: 4px solid white;
  background: -moz-linear-gradient(
    top,
    rgba(197, 222, 234, 1) 0%,
    rgba(138, 187, 215, 1) 31%,
    rgba(9, 50, 232, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(197, 222, 234, 1) 0%,
    rgba(138, 187, 215, 1) 31%,
    rgba(9, 50, 232, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(197, 222, 234, 1) 0%,
    rgba(138, 187, 215, 1) 31%,
    rgba(9, 50, 232, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#0932e8',GradientType=0 ); /* IE6-9 */
  /* width: 80%; */
}

.main-title {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-bottom: 4px solid white;
  font-size: 3em;
  width: 100%;
  background-color: blue;
  color: white;
}

img {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: auto; */
  /* position: relative; */
  vertical-align: top;
  width: 40%;
  height: 40%;
  /* float: left; */
  /* border: 2px solid white; */
  padding: auto;
  /* background-color: white; */
}

.description {
  color: black;
  font-size: 1.4em;
  width: 50% auto;
  margin: 20px;
  /* animation: colorchange 3s infinite alternate;
  -webkit-animation: colorchange 3s infinite alternate; */
  /* text-decoration: underline; */
  /* background-color: #fff; */
  /* border: black; */
  /* border-width: inherit; */
  /* border-style: inherit; */
}

.form {
  padding-bottom: 10px;
  font-size: 2.2em;
  color: rgb(58, 58, 58);
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
}

.button,
#button01,
#button02 {
  /* position: top; */
  vertical-align: top;
  color: rgb(252, 255, 238);
  font-size: 22px;
  line-height: 22px;
  padding: 10px;
  border-radius: 0px;
  font-family: Montserrat, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-color: #144e75;
  box-shadow: rgb(0, 0, 0) 2px 2px 4px 2px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
  margin-bottom: 20px;
  color: #313131;
  animation: colorchange 2s infinite alternate;
  -webkit-animation: colorchange 2s infinite alternate;
}
@keyframes colorchange {
  from {
    background-color: #008d97;
  }
  to {
    background-color: #144e75;
    text-decoration-color: white;
  }
}
@-webkit-keyframes colorchange {
  from {
    background-color: #008d97;
  }
  to {
    background-color: #144e75;
    text-decoration-color: white;
  }
}
.button:hover,
#button01:hover,
#button02:hover {
  background: #129700;
  color: #fff;
  cursor: pointer;
}

.myButton:active {
  background: #144e75;
}

.footer {
  margin: 25px auto;
  /* width: 80%; */
  text-align: right;
}

#credit {
  text-align: right;
  display: block;
  width: 10%;
  height: 10%;
}

.copyright {
  background-color: #d3d3d3;
  color: black;
  text-align: center;
  margin-bottom: -16px;
  bottom: 0;
  /* width: 100%; */
}
